/*****Font Import*****/
@font-face {
font-family: 'Circular Std Book';
font-style: normal;
font-weight: normal;
src: local('Circular Std Book'), url('../resources/fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
font-family: 'Circular Std Medium';
font-style: normal;
font-weight: normal;
src: local('Circular Std Medium'), url('../resources/fonts/CircularStd-Medium.woff') format('woff');
}

@font-face {
font-family: 'Circular Std Bold';
font-style: normal;
font-weight: normal;
src: local('Circular Std Bold'), url('../resources/fonts/CircularStd-Bold.woff') format('woff');
}
/*****^End Font Import*****/
/***** Reset default values ****/
html.clicking .dot:focus {
   outline: none;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: 'Circular Std Medium', 'Montserrat', Arial;
  background: rgba(9,18,23,1);
  color: #fff;
}

a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
}
/***** ^End Reset default values ****/
/*****Navigation Header *****/
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 140px;
  color: #fff;
  position: absolute;

}

nav ul{
  display: flex;
  align-self: center;
  float: left;
}

nav ul li{
  float: left;
  margin-right: 30px;
  text-align: center;
  width: 135px;
  list-style: none;
  position: relative;
  white-space: nowrap;
}

nav ul li a{
  display: block;
  color: #fff;
  font-size: 1.2em;
  padding: 15px;
}

nav ul li ul{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-left: 10px;
}

nav ul li:hover a{
  color:#2134ff;
  background-color: white;
  border-radius: 50px;
}
/*Add :focus-within to display submenu when in focus i.e higlighted with tab */
nav ul li:hover ul, nav ul li:focus-within ul{
  visibility: visible;
}

nav ul li:hover ul li a, nav ul li:focus-within ul a{
  color: rgba(255, 255, 255, 1);
  background-color:transparent;
}

nav ul li ul li a{
  font-size: 1em;
  float: left;
  padding: 10px 0px 0px 15px;
  margin-left: 0;
  color: rgba(255, 255, 255, 0);
  transition: margin 1s ease, color 0.3s ease-in;
}

nav ul li ul li:hover a{
  color:#9099fa;
  margin-left: 2px;
}

.logo-container{
  display: flex;
  float: right;
  align-self: center;
  font-family: 'Circular Std Bold';
  font-size: 2.5em;
  margin-right: 40px;
}

.logo-container a{
  display: flex;
}

.logo-container a span{
  color: #fff;
  margin-right: 20px;
  align-self: center;
}
.hidden-menu{
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(50,50,50,.5), rgba(80,80,80,.5), rgba(50, 50, 50, .5));
  display: flex;
  height: 8em;
  position: fixed;
  justify-content: space-between;
  z-index: 1000;
}
.show{
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}
.hidden-menu div{
  padding: 1em;
  display: flex;
  flex-direction: row;
}
.hidden-menu div h2{
  padding: 0;
  margin: 0;
  line-height: 5em;
  font-size: 1.2em;
  font-family: 'Circular Std Medium';
  color: rgba(33, 52, 255, 1);
}
.hidden-menu div img{
  width: 2em;
  height: 2em;
  padding: 0em;
  margin-right: 1em;
  align-self: center;
}
#blue-logo{
  width: 45px;
  height: 80px;
  margin-right: 5em;
  align-self: center;
}
/***** ^End Navigation Header *****/
/***** Header Content Section / Welcome Screen *****/
#header-section{
  display: flex;
  height: 120vh;
  width: 100%;

}
.image-container{
  display: flex;
  width: 100%;
  height: 120vh;
  margin-top: -1%;
  /*background: can be change by using navigation dots*/
  background: url(../resources/images/sushi.jpg)no-repeat center center;
  background-size: 120%;
}
.image-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 18, 23, 0.6);
}
.header-text{
  display: flex;
  width: 50%;
  align-self: center;
  color: #fff;
  font-size: 3.5em;
}

/*Reset button in dot-container*/
button{
  border: 0;
  padding: 0;
  background-color: transparent;
}
.dot {
  cursor: pointer;
  height: 22px;
  width: 22px;
  margin: 0px 8px;
  background-color: rgba(235, 235, 235, .3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ebebeb;
}
/***** ^End Header Content Section / Welcome Screen *****/
/***** Video Section *****/
#video-section{
  position: relative;
  margin-top: -214px;
  height: 500px;
  width: 100%;
  box-shadow: 0px -15px 225px 130px rgba(9,18,23,.99);
}
#arrow-container{
  background: rgba(9,18,23,.98);
  display: flex;
  width: 100%;
  height: 64px;
  padding-bottom: 50px;
}
#arrow-wrapper{
  width: 50%;
  margin-left: 47%;
  margin-right: 20px;
}
.arrow-element {
  border-radius: 50%;
  height: 62px;
  width: 62px;
  float: right;
  margin-right: 5px;
}
.arrow-element:hover{
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.arrow-element svg{
  fill: rgb(255, 255, 255);
}
.arrow-element:hover svg{
  fill: rgb(3, 15, 21);
  transform: scale(0.8);
}
#video-container{
  margin-top: 0;
  background: rgba(9,18,23,.98);
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.video-element{
  width: 400px;
  height: 300px;
  transition: margin-top .4s ease-in-out;
}
.video-frame{
  background: rgba(255,255,255,.5);
  width: 100%;
  height: 250px;
  border-radius: 8px;
  box-shadow: -6px 1px 70px 0px rgba(255,255,255,0.0);
  transition: box-shadow .3s ease-in-out;
}
.corner-overlay{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
}
.corners{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}
.corners img{
  visibility: hidden;
}
.play-button{
  align-self: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 2em 0;
  background-color: rgba(32, 52, 255, 0.7);
  transition: background-color .3s ease-in;
  align-content: space-around;
  justify-content: center;
}
.play-button img{
  transform: scale(1.2);
  margin-top: 33%;
  margin-left: 10%;
}
/** Hovering Video effects**/
.video-frame:hover .corners img{
  visibility: visible;
}
.video-frame:hover .play-button{
  background-color: rgba(32, 52, 255, 1);
}
.video-frame:hover{
  box-shadow: -6px 1px 70px 0px rgba(255,255,255,0.2);
}
.video-element:hover{
  margin-top: -.5em;
  cursor: pointer;
}



/** ^End Hovering Video effects **/
.video-element h2{
  font-size: 18px;
  font-family: 'Circular Std Book';
  color: #fff;
}
#laastad-thumbnail{
  background: url(../resources/images/laastad.jpg)no-repeat center center;
}
#garasjeport-thumbnail{
  background: url(../resources/images/garasjeport.jpg)no-repeat center center;
}
#byggmakker-thumbnail{
  background: url(../resources/images/byggmakker.jpg)no-repeat center center;
}
#smistad-thumbnail{
  background: url(../resources/images/smistad.jpg)no-repeat center center;
}
/***** ^End Video Section*****/

/***** Reference Section*****/
#reference-section{
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12em;
}

#reference-section::after{
  margin-top: 10em;
  margin-bottom: 6em;
  content: '';
  width: 100%;
  box-shadow: 0px -2px 80px 100px rgba(9,18,23,1);
}
#quote-container{
  display: flex;
  flex-direction: column;
  width: 45%;
  align-self: center;
}
.quote{
  font-family: 'Circular Std Bold';
  font-size: 3.5em;
}
#quote-container span{
  margin-top: -20px;
  height: 40px;

}
.quoted{
  font-size: 1.1em;
}
/*White line before quoted name*/
.quoted::before{
  content: "";
  float: left;
  height: 2px;
  margin-right: 20px;
  width: 100px;
  margin-top: 10px;
  background-color: #fff;
}

/***** ^End Reference Section*****/
/***** Contact / About Section *****/
#contact-about-section{
  display: flex;
  width: 100%;
  margin-bottom: 10em;
  justify-content: space-around;
}
#flex-wrapper{

}
#contact-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-element{
  margin-bottom: 4em;
  padding: 0;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.contact-information{
  margin-top: -5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  transition: margin-top .6 ease-in-out

}
.contact-information h2{
  font-size: 1.8em;
  margin: 0;
}
.contact-information h3{
  font-size: 1.2em;
  margin: 5px;
}
.contact-information a{
  text-decoration: underline;
  color: #fff;
  font-size: 1.1em;
  margin-top: 25px;
}
.contact-information span{
  font-size: 1.1em;
  margin-top: 5px;
}
.picture-container img{
  opacity: 0.4;

  transition: opacity .6s ease-in-out;
  height: 85vh;
  width: auto;

}
.contact-element:hover img{
  opacity: 1;
}
/***** ^End Contact / About Section *****/

/***** Notes Section *****/
#notes-section{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

#notes-section h1{
  font-size: 4em;
  font-family: 'Circular Std Book';
  margin-bottom: 100px;
}

#note-container{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.note-element{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 350px;
  margin-bottom:150px;
}

.note-image{
  width: 50%;
  height:350px;
}

.note-description{
  text-align: left;
  width: 50%;
  height: 350px;
}

.note-description h2{
  font-family: 'Circular Std Book';
  font-size: 1.2em;
  margin-top: 8%;
  margin-left: 10%;
}

.note-description p{
  font-size: 1.8em;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.4;
}

.blue-note{
  background-color: #2134ff;
  margin-top: 5%;
  margin-left: -6%;
}
.note-description h2::after{
  content: '';
  display: flex;
  margin-top: 8px;
  height: 1px;
  align-self: center;
  width: 90%;
}
.blue-note h2::after{
  background-color: #fff;
}
.white-note h2::after{
  background-color: #2134ff;
}
.white-note{
  background-color: #fff;
  color: #2134ff;
}
#note-january{
  height: 100%;
  background: url(../resources/images/notatJanuar.png)no-repeat center center;
}
#note-december{
  height: 100%;
  background: url(../resources/images/notatDesember.png)no-repeat center center;
  margin-top: 5%;
  margin-left: -6%;
  z-index: -1;
}
#more-notes{
  display: flex;
  cursor: pointer;
  padding: 13px;
  font-family: 'Circular Std Medium';
  font-size: 1.1em;
  border-radius: 50px;
  width: 250px;
  background-color:rgba(33,52,255,.5); /**#2134ff;**/
  color: #fff;
  border: 0;
  align-self: flex-start;
  margin-left: 20%;
  transition: background-color .3s ease;
}
#more-notes span{
  margin-left: 10px;
  align-self: center;
}
more-notes img{
  margin-left: 5px;
}
#more-notes:hover{
  background-color:rgba(33,52,255,1);
}


/***** ^End Notes Section *****/

/***** Footer *****/
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: #8a8a8a;
  font-family: 'Circular Std Medium';
  font-size: 1.1em;
  background-color: #fff;
  height: 25vh;
}
footer span{
  margin-left: 5%;
  margin-right: 5%;

}
footer span span{
  color: rgb(9,18,23);
  margin: 0;
}
/***** ^End Footer *****/
